body{
background-color: red;
margin: 0;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
background-color: black;
align-items: center;
justify-content: space-between;
padding: 20px;
display: flex;
}
h1{
color: ghostwhite;
font-size: 30px;
}
input{
width: 100px;
height: 10px;
}
button{
background-color: silver;
width: 50px;
border-radius: 30px;
}